@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
/* font-family: 'Poppins', sans-serif; */
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
.container{
    width: 1000px;
    margin: 80px auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo-title i{
    display: none;
}
.logo-title a{
    font-size: 24px;
    font-weight: 700px;
}
ul li a{
    padding-right: 20px;
    font-size: 16px;
    font-weight: 600px;
}
.btn{
    background-color: rgb(240, 105, 127);
    border: none;
    padding: 6px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
.banners{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.banner-1{
    width: 60%;
}
.banner-1 h2, p{
    padding-right: 30px;
}
.banner-1 h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}
.banner-2{
    width: 40%;
    background-image: url(./images/Circle\ design.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-2 img{
    width: 100%;
}
.company-name{
    display: flex;
    justify-content: space-evenly;
}
/* top banner ended */
/* responsive last header */
.last-header-section{
    display: none;
}
hr{
    margin: 40px 0;
}
/* middle page started */
.product-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product-detail div{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product-info{
    padding: 10px;
}
.product-detail img{
    width: 100%;
}
.middle-heading{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.see{
    display: flex;
    justify-content: end;
    padding: 10px 0px;
    color: coral;
}
/* middle page ended */
.bottom-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.bottom-img{
    width: 50%;
}
.bottom-text{
    width: 50%;
}
.bottom-text h2{
    font-size: 30px;
}
.bottom-text {
    font-size: 16px;
}
/* footer */
footer{
    background-color: rgb(7, 6, 6);
    text-align: center;
    padding: 40px 0;
}
.footer-text h2{
    color: white;
}
.footer-text p{
    color: white;  
}
/* responsive part */
.logo-title-1{
    display: none;
}
.banners-r{
    display: none;
}
/* -----------------  
Media Query
 */

 @media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    /* .top-section{
        background-color: aqua;
    } */
    .logo-title{
        display: none;
    }
    .logo-title-1{
        display: block;
        width: 100%;
    }
    .logo-title-r{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo-title-r i, a{
        font-size: 30px;
    }
    /* responsive logo */
    /* responsive banner start */
    .banners{
        display: none;
    }
    .banners-r{
        display: block;
        width: 100%;
        padding-right: 50px 0;
    }
    .banner-r{
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center; */
        align-items: center;
    }
    .banner-r h2, p{
        text-align: center;
        padding-top: 20px;
    }
    .banner-r h2{
        font-size: 35px;
        line-height: 35px;
    }
    /* responsive banner start */
    .logo-title i{
        display: block;
    }
    nav{
        display: none;
    }
    /* last header */
    
    .last-header{
        display: none;
    }
    .last-header-section{
        display: block;
        margin-top: 80px;
    }
    .last-header-r{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        /* colomn-gap: 50px */
    }
    hr{
        display: none;
    }
    /* last header ended */
    .product-detail{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .product-info{
        padding: 15px;
    }
    .product-info img{
        width: 100%;
        /* padding: 20px; */
    }
    .product-info h2, p{
        text-align: center;
    }
    .product-info h2{
        font-size: 40px;
    }
    .bottom-page{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .bottom-text h2, p{
        text-align: center;
    }
    .bottom-text h2{
        font-size: 30px;
    }
    .bottom-text btn{
        text-align: center;
    }
    .see{
        margin-right: 25px;
        font-size: 20px;
        padding-top: 20px;
    }
    .see i{
        padding-right: 4px;
        padding-top: 6px;
        color: coral;
    }
    .see h4{
        padding-right: 8px;
        padding-top: 6px;
        color: coral;
    }
 }

 @media only screen and (min-width: 689px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    nav{
        display: block;
    }
    .product-detail{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-info img{
        width: 100%;
    }
    .product-info h2, p{
        text-align: center;
    }
    .product-info h2{
        font-size: 25px;
    }
    footer{
        width: 100%;
    }
 }
